.parentContainer
{
    display: flex;
    padding: 10px;
}

.listPart
{
    flex: 1;
}

.mapPart
{
    flex:1;
}

.ListPartCard
{
    height: 90vh;
    overflow: auto;
}
.mapPart mat-card
{
    height: 98vh;
}
.btnSort
{
    background: white;
    color: darkgray;
    border: 2px solid darkgray;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}

.chipList
{
    padding:21px;
}