
<mat-card class="individualItem" *ngFor = 'let hotel of backService.hotelList'>

  <div class="parentContainer">
    <div class="imagePart">
      <img src={{hotel.image}}/>
    </div>
    <div class="detailsPart">
        <div class="firstRow">
            <p>{{hotel.rating}} ({{hotel.ratingCount}})</p> 
            <i class="material-icons">
                star
                </i>  
                
          </div>
          <div class="secondRow">
              {{hotel.name}}
          </div>
          <div class="addressRow">
            {{hotel.locality}}

          </div>
          <div class="thirdRow" >
            <div class="wifiIcon">
                <i class="material-icons iconMaterial" *ngIf = hotel.wifi>
                    wifi
                  </i>
                  <i class="material-icons iconMaterial" *ngIf=!hotel.wifi>
                    wifi_off
                  </i>
            </div>
          <div class="cancelIcon">
              <i class="material-icons iconMaterial" *ngIf=hotel.cancellation >
                  check_circle
                  </i>
                  <i class="material-icons iconMaterial" *ngIf=!hotel.cancellation>
                    highlight_off
                  </i>
          </div>
          <div class="airportDistance">
                  <i class="material-icons">
                         local_airport
                   </i>  <p>{{hotel.distAirport}} </p>
          </div>
          </div> 
          <div class="fourthRow">
            {{hotel.cost_per_night}}
          </div>
  </div>
  </div>
</mat-card>