<mat-card class="individualItem" *ngFor = 'let hotel of backService.hotelList'>

  <div class="parentContainer">
    <div class="imagePart">
      <img src={{hotel.image}}/>
    </div>
    <div class="detailsPart">
        <div class="firstRow">
            {{hotel.rating}} ({{hotel.ratingCount}})
          </div>
          <div class="secondRow">
              {{hotel.name}}
          </div>
          <div class="addressRow">
            {{hotel.locality}}

          </div>
          <div class="thirdRow">
            {{hotel.wifi}} {{hotel.cancellation}}
            </div> 
          <div class="fourthRow">
            {{hotel.cost_per_night}}
          </div>
  </div>
  </div>
</mat-card>